.line-through {
  text-decoration: line-through;
}

#active-item {
  background-color: #e2eeff;
  border-bottom: 1px solid #0d6efd;
}

.js-input-group,
.js-input,
.js-add__item {
  position: relative;
}

.js-quit-edit-btn {
  font-size: 22px;
  opacity: 0.6;
  position: absolute;
  right: 145px;
  z-index: 1;
}
